<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/projects.css">
    <link rel="stylesheet" href="../css/projmedia.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <script defer src="/_vercel/insights/script.js"></script>
    <title>Projetos - <%- projeto.projname %></title>
</head>
<body>
    <div class="main">
        <section class="project section">
            <div class="projectinfo">
                <h2><%- projeto.projname %></h2>
                <p><%- projeto.projdesc %></p>
            </div>
            <div class="projectimg">
                <img src="<%- projeto.projimg %>">
                <div class="projectabout">
                    <div class="projectlinks">
                        <a href="<%- projeto.link %>">Link</a>
                        <a href="<%- projeto.repositorio %>">Repositório</a>
                    </div>
                    <div class="projectling">
                        <h3>Utilizado</h3>
                        <% for(var i=0; i<projeto.linguagens.length; i++) { %>
                            <p><%- projeto.linguagens[i] %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>